*.o
*.exe

.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1

sources/form
sources/tform
sources/parform
sources/vorm
sources/tvorm
sources/parvorm

form-*/
form-*.tar.bz2
form-*.tar.gz

doc/devref/devref.tex
doc/doxygen/DoxyfileHTML
doc/doxygen/DoxyfileLATEX
doc/doxygen/DoxyfilePDFLATEX
doc/manual/manual.tex

doc/*/*.4ct
doc/*/*.4dx
doc/*/*.4ix
doc/*/*.4tc
doc/*/*.aux
doc/*/*.css
doc/*/*.dvi
doc/*/*.html
doc/*/*.idv
doc/*/*.idx
doc/*/*.ilg
doc/*/*.ind
doc/*/*.lg
doc/*/*.log
doc/*/*.out
doc/*/*.pdf
doc/*/*.ps
doc/*/*.tmp
doc/*/*.toc
doc/*/*.xref

doc/devref/devrefdate.tex
doc/devref/html/
doc/doxygen/html/
doc/doxygen/latex/
doc/doxygen/pdflatex/
doc/manual/html/
doc/manual/manualdate.tex
